.recommendations {
  margin-top: 16px;
  padding: 10px;
  background-color: #f9fafb;
  border-radius: 6px;
  border-left: 3px solid #073682;
    border-right: 3px solid #073682;

}

.recommendations-title {
  margin: 0 0 8px 0;
  font-size: 13px;
  font-weight: 600;
  color: #374151;
}

.recommendations-list {
  margin: 0;
  padding-left: 20px;
  list-style: disc;
  font-size: 12px;
  color: #6b7280;
  line-height: 1.6;
}

.recommendations-list li {
  margin-bottom: 4px;
}

.recommendations-list li:last-child {
  margin-bottom: 0;
}